data-raw/sequences.fasta
data-raw/spikeprot0410.fasta
data-raw/Data_Matrix_Filtered_NCBI_Data_US
data-raw/Data_Matrix_Filtered_GISAID_Data_US
.Rproj.user
.Rhistory
.RData
.Ruserdata
Compare/
.RDataTmp*
/doc/
/Meta/
output/
analysis/GISAID_data_preprocessing/*.rds
analysis/GISAID_data_preprocessing/*.fasta
analysis/GISAID_data_preprocessing/*.fasta.gz
analysis/Entropy_Partitioning_Study/Temporal_Site_EDA/outputs/partitions/GISAID_US_Part_List.rds
analysis/Sample_Size_Simulation_Study/Archive/
analysis/Sample_Size_Simulation_Study/README_cache/
analysis/Sample_Size_Simulation_Study/Explore_NAs
analysis/Sample_Size_Simulation_Study/.RData
analysis/Correlation_Analysis/outputs/GISAID_US_distance_matrices.rds
analysis/Correlation_Analysis/outputs/GISAID_US_mantel_results.rds
analysis/Correlation_Analysis/outputs/NCBI_US_distance_matrices.rds
analysis/Correlation_Analysis/outputs/NCBI_US_mantel_results.rds
analysis/Correlation_Analysis/outputs/correlation_analysis_figure.png
inst/doc/
data-raw/*_cache/
data-raw/pre-build-vignettes.R
docs
CRAN-SUBMISSION
analysis/Sample_Size_Simulation_Study/Explore_NAs.R